{% extends 'main/base.html'%}
{% load i18n %}

{% block content %}

<div class="container">
    <div class="form">
        <h1> {% trans 'Connexion' %}</h1>

        {% if messages %}
        <div class="error-messages">
            {% for message in messages %}
            <p class="erreur">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post" action="{% url 'connexion' %}">
            {% csrf_token %}
            <label for="username"> {% trans "Nom d'utilisateur" %}</label>
            <input type="text" name="username" required>
            <label for="password"> {% trans 'Mot de passe' %}</label>
            <input type="password" name="password" required>
            <button type="submit" id="btn-envoyer">{% trans 'Se connecter' %}</button>
        </form>
        <p class="link">{% trans 'Pas encore inscrit ?' %} <a href="{% url 'inscription' %}">{% trans "S'inscrire " %}</a></p>
    </div>
</div>
<br>







<style>

    .container {
        width: 400px;
        background: #fff;
        border-radius: 7px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }

    .container .form {
        padding: 30px;
    }

    label {
        padding: 10px 0;
        color:#004686;
        cursor: pointer;
    }

    input {
        width: 100%;
        padding: 10px;
        font-size: 17px;
        border: 1px solid #ddd;
        border-radius: 6px;
        outline: none;
        margin-bottom: 15px;
        margin-top: 10px;
    }


     #btn-envoyer {
        color: #fff;
        background: #004686;
        width: 100%;
        padding: 10px;
        font-size: 17px;
        margin-top: 10px;
        border: none;
        border-radius: 6px;
        outline: none;
    }

    #btn-envoyer:hover {
        background: #004686;
    } 

    .link {
        text-align: center;
        margin-top: 20px;
        color: #004686;
    }
    .link a {
    text-decoration: none;
  }

    .erreur {
        color: #c83535;
        border-radius: 6px;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
    }
</style>

{% endblock %}